img {
  width: 180px;
  height: 140px;
  border-radius: 50%;
  bottom: 0px;
  display: inline-block;
}


.name {
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 0.5em!important;
  text-align: left!important;
  display: inline-block;
}

.b-teal {
  background-color: teal;
  float: left;
  width: 100%;
}

.c-white {
  color: white;
}

.block {
  height: 250px;
  width: 250px;
}
body, head {
  background-image: url('back.jpg');
  background-size: cover;
  text-align: center!important;
  font-family: 'Poiret One', cursive;
}

.head {
  clear: both;
  top:0px;
}

h1.cont {
  text-align: center;
  color: red;
  background-color: dodgerblue;
  width: 100%;
  padding: 1%;
  align-self: center;
  align-content: center;
  display: inline-block;
}

.card {
  background-color: black!important;
  color: white;
  height: 250px;
  line-height: 83px;
  width: 100px;
  margin-left: 200px;
  display: inline-block;
}

.dif {
  line-height: 50px;
}

::selection {
  background-color: red;
  color: dodgerblue;
}
