img {
  width: 180px;
  height: 140px;
  border-radius: 50%;
  bottom: 0px;
  display: inline-block;
}

.name {
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 0.5em!important;
  text-align: left!important;
}

.b-teal::selection {
  color: red!important;
}

.b-teal {
  background-color: teal;
  float: left;
  width: 100%;
}

.c-white {
  color: white;
}

.block {
  height: 250px;
  width: 250px;
}
body, head {
  background-image: url('back.jpg');
  background-size: cover;
  text-align: center!important;
  font-family: 'Poiret One', cursive;
  font-weight: 900!important;
  padding-bottom: 5px;
}

.head {
  clear: both;
  top:0px;
}

h1.cont {
  text-align: center;
  color: red;
  background-color: dodgerblue;
  width: 100%;
  padding: 1%;
  align-self: center;
  align-content: center;
  display: inline-block;
}

.card {
  color: white;
  background-color: black;
  margin-top: 7px;
  line-height: 50px;
}

.card > p {
  font-size: 1.5em!important;
}

::selection {
  color: #ffc107;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  height: 25px!important;
  max-height: 45px;
}

::-webkit-scrollbar-button {
  color: red;
  background-color: green;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: teal;
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(https://dl.dropboxusercontent.com/u/55165267/icon2.png);
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(https://dl.dropboxusercontent.com/u/55165267/icon4.png);
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(down.png);
  background-size: cover;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(up.png);
    background-size: cover;
}
